<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMTests">
  <test thread-count="5" name="Test">
    <classes>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.AdminTest3"/>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.AdminTest2"/>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.class1"/>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.AdminTest"/>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.LoginTest"/>
      <class name="OrangeHRM_TestNG_POM.OrangeHRM_TestNG_POM.test_cases.class2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- OrangeHRMTests -->
